// FOOTER SECTION
.footer {
  width: 100%;
  background-color: $black-color;

  &-container{
    margin: 70px 0px;
  }

  &-heading{
    font-size: 30px;
    color: $primary-color;
    font-weight: bold;
    font-family: 'Merienda', cursive;
  }

  &-p{
    line-height: 2.5rem;
    color: $white-color;
  }
}

.social-icons {
  list-style-type: none;
  display: flex;
 

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 50%;
    margin-right: 20px;
    transition: 0.5s ease;

    &:hover{
      background-color: $white-color;
      color: $primary-color;
    }
  }
}

#contact {
  p {
    color: $white-color;
  }
}

.payment-icons {
  list-style-type: none;
  color: $white-color;
  display: flex;
  grid-gap: 1rem;

  li {
    font-size: 50px;
  }
}
